/* Your CSS Code here. */
img{
	width:200px;
	height:200px;
}

.fluid{
	display:flex;
    flex-direction: column;
}

.row-1{
	display:grid;
	grid-template-columns: repeat(12, 200px);
}

.row-2{
	display:grid;
	grid-template-columns: repeat(6, 200px);
}

.row-3{
	display:grid;
	grid-template-columns: repeat(3, 200px);
}

.row-4{
	display:grid;
	grid-template-columns: repeat(1, 200px);
}