
/* Your CSS Code here. */
img{
	width:200px;
	height:200px;
}

.fluid{
	display:flex;
}

.row-1{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	gap:3%;
}

.row-2{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	gap:3%;
}

.row-3{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap:3%;
}

/* .row-4{
	display:grid;
	grid-template-columns: repeat(1, 1fr);
	gap:3%;
} */